#map {
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f4;
}

.boton-regresar {
    padding-top: 35px;
    position: fixed;
    top: 40px;
    right: 12px;
    font-size: 23 px !important;
}